.about{
    display: flex;
}
.about__img-neck{
    margin: 129px 0 0 0;
    width: 540px;
    height: 440px;
    box-shadow: 0px 4px 60px rgba(118, 157, 202, 0.15);
    border-radius: 10px;
}
.about__title{
    width: 580px;
    font-weight: bold;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 1px;
    color: #3A4959;
}
.about__title-text{
    margin: 0 68px 0 0;
}
.about__description{
    font-size: 18px;
    line-height: 29px;
    color: #3A4959;
    width: 580px;
    font-family: Open Sans;
}
.about__description{
    margin: 20px 0 0px 0;
}
.about__article{
    margin: 209px 0 0 60px;
}