.button {
    display: flex;
    align-items: center; 
    justify-content: space-around;

    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 24px;
    line-height: 24px;
    width: 127px;
    height: 44px;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    background-color: #FFE01B;
} 
