.article__title_detail{
    font-size: 20px;
    line-height: 27px;
}
.img-block{
    background-image:url(../img/article.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 299px;
    margin: 45px 0 0 0;
}
.card-detail{
    &__title{
    font-size: 44px;
    line-height: 60px;
    }
    &__text{
        padding: 0 19px 0 21.1px; 
        background: #F2F2F2;
    }
    &__article{
        font-size: 20px;
        line-height: 27px;
        border-radius: 0px;
        margin: 40px 0 52px 0;
    }
    &__article-2{
        font-size: 20px;
        line-height: 27px;
        border-radius: 0px;
        margin: 52px 0 0px 0;
    }
    &__article-3{
        font-size: 20px;
        line-height: 27px;
        border-radius: 0px;
        margin: 52px 0 40px 0;
    }
    &__date{
        font-family: Open Sans Condensed;
        font-size: 20px;
        line-height: 27px;
        padding:0 0 0 21.68px;
        margin: 0 0 57px 0px;
    }
}
.card-titles{
    display: flex;
    align-items: baseline; 
}