.card{
    width: 380px;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.07);
    
    &__title{
    font-size: 20px;
    line-height: 27px;
    margin: 15px 0 10px 0;
    }
    &__article{
        font-size: 20px;
        line-height: 27px;
        border-radius: 0px;
        width: 339.89px;
    }
    &__img{
        height: 185px;
    }
    &__text{
        padding: 0 19px 0 21.1px; 
        background: #FFFFFF;
    }
    &__box{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 21px 0 21px;
    }
    &__date{
    font-family: Open Sans Condensed;
    font-size: 20px;
    line-height: 27px;
    padding:0 0 0 21.68px;
    /*margin-left:auto;*/


    }
}