.mycard{
    display: flex;
    width: 380px;
    
    &__title{
        background: #F2F2F2;
        font-size: 20px;
        line-height: 27px;
        margin: 15px 0 10px 0;
    }
}
.mycard-content{
    &__img{
        height: 246px;
    }
    &__title{
        display: flex;
        justify-content: space-between;
    }
    &__date{
        display: flex;
        align-items: center;
        font-family: Open Sans Condensed;
        font-size: 20px;
        line-height: 27px;
        padding:0 0 0 21.68px;
    }
}