body{
  margin: 0;
  height:100%;
  width:100%;
}
.container{
  max-width: 900px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
h1,h2,h3,p{
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
}