.contacts-blog {
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif !important;
    color: black;
	background: #FFE01B;
    text-align: center;
    margin: 0px 0 0px 0;
    padding: 0 0 54px 0;
    &__title{
        font-weight: bold;
        font-size: 55px;
        line-height: 75px;  
<<<<<<< HEAD
        padding: 33px 0 12px 0;
=======
        padding: 33px 0 20px 0;
>>>>>>> 0bffdcbfc0cf44463ecd81f8b836aeac00ee0985
    }
}
.social-contacts{
    display: flex;
    justify-content:space-between;
<<<<<<< HEAD
    margin: 0 -10px 0 -10px;
=======
>>>>>>> 0bffdcbfc0cf44463ecd81f8b836aeac00ee0985
    &__all{
        display: flex;
        align-items: center;
        justify-content: center;
<<<<<<< HEAD
        width: 25%;
        height: 171px;
        box-sizing: border-box;
        margin: 10px;
=======
        width: 280px;
        height: 171px;
>>>>>>> 0bffdcbfc0cf44463ecd81f8b836aeac00ee0985
        background: #343434;
        }
    &__vk-sprite{
        width: 110px;
        height: 110px;
        background-image: url('./img/Sprite.png');
        background-position: 0px -71px;
        }
    &__inst-sprite{
        width: 110px;
        height: 110px;
        background-image: url('./img/Sprite.png');
        background-position: -110px -71px;
        }
    &__tel-sprite{
        width: 110px;
        height: 110px;
        background-image: url('./img/Sprite.png');
        background-position: -220px -71;
        }
    &__email-sprite{
        width: 110px;
        height: 110px;
        background-image: url('./img/Sprite.png');
        background-position: -330px -71;
        }
    &__call{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100px;
        height: 100px;
        left: 1475px;
<<<<<<< HEAD
        top: 755px;
        background: #FF6969;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
        border-radius: 50px;
        animation: call 3s linear infinite;
=======
        top: 795px;
        background: #FF6969;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
        border-radius: 50px;
        animation-name: social-contacts__call;
        animation-duration: infinite;
>>>>>>> 0bffdcbfc0cf44463ecd81f8b836aeac00ee0985
        }
    &__call-sprite{
        width: 110px;
        height: 110px;
        background-image: url('./img/Sprite.png');
        background-position: -220px -71;
        transform: scale(0.6);
        }
    }
<<<<<<< HEAD
@keyframes call 
{
    0%{
        box-shadow: 0 0 0 0 rgba(255,109,74,.7), 0 0 0 0 rgba(255,109,74,.7);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0), 0 0 0 0 rgba(255,109,74,.7);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0), 0 0 0 30px rgba(255,109,74,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0), 0 0 0 30px rgba(255,109,74,0);
    }
}
/*.social-contacts__vk-sprite:hover{
    Перейти в vk
    
}
.social-contacts__inst-sprite:hover{
    Перейти в instagram
}
.social-contacts__tel-sprite:hover{
    
}
.social-contacts__email-sprite:hover{
    
}*/
@media screen and (max-width: 768px){
    .social-contacts__all{
       display: flex;
       width: calc(50% - 20px);
       height: 150px;
       justify-content: center;
    }
    .contacts-blog__title{
        padding: 30px 0 22px 0;
        font-size: 45px;
        line-height: 61px;
    }
    .social-contacts{
        flex-wrap: wrap;
    }
    .contacts-blog__block{
        width: 580px;
    }
    .contacts-blog{
        display: flex;
        justify-content: center;
    }
    .social-contacts__call{
        display: none;
    }
}
@media screen and (max-width: 320px){
    .social-contacts__all{
       display: flex;
       width: calc(100% - 20px);
       height: 150px;
       justify-content: center;
    }
    .contacts-blog__title{
        padding: 30px 0 2px 0;
        font-size: 45px;
        line-height: 61px;
    }
    .social-contacts{
        flex-direction: column;
    }
    .contacts-blog__block{
        width: 280px;
    }
    .contacts-blog{
       // display: flex;
        //justify-content: center;
        padding: 0 0 25px 0;
    }
    .social-contacts__call{
        display: none;
=======
@keyframes social-contacts__call {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    //from {
    //    top: 100px;
     //   animation-timing-function: ease-out;
    //  }
    //  25% {
    //    top: 50px;
     //   animation-timing-function: ease-in;
    //  }
     // 50% {
     //   top: 100px;
     //   animation-timing-function: ease-out;
     // }
     // 75% {
    //    top: 75px;
    //    animation-timing-function: ease-in;
     // }
     // to {
     //   top: 100px;
     // }
}
@media screen and (max-width: 900px){
    .social-contacts__all{
        display: inline-block;
        width: 25%;
>>>>>>> 0bffdcbfc0cf44463ecd81f8b836aeac00ee0985
    }
}
