.footer-blog {
    font-family: 'Open Sans Condensed', sans-serif !important;
}
.footer-site{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    padding: 34px 0 34px 0;
}
@media screen and (max-width: 768px){
    .footer-site{
        padding: 19px 0px 19px 0px;
        font-size: 16px;
        line-height: 22px;
    }
}
@media screen and (max-width: 320px){
    .footer-site{
        padding: 10px 0px 8px 0px;
        font-size: 14px;
        line-height: 19px;
    }
}
.footer-blog__wrapper{
    display: flex;
    align-items: center;
    justify-content:space-between;
}    
@media screen and (max-width: 320px){
    .footer-blog__wrapper{
        flex-wrap: wrap;
        align-content: space-around;
    }    
}


