.footer-blog {
    height: 90px;
    font-family: 'Open Sans Condensed', sans-serif !important;
    text-align: right;
.footer-site{
    font-size: 16px;
    line-height: 22px;
    }
}
.footer-blog__wrapper{
    padding: 34 0 0 0;
}
     

