.footer-blog {
    font-family: 'Open Sans Condensed', sans-serif !important;
   /* text-align: right;*/
}
.footer-site{
    font-size: 16px;
    line-height: 22px;
    height: 90px;
}
.footer-blog__wrapper{
    display: flex;
    align-items: center;
    justify-content:space-between;
    /*padding: 34 0 0 0;*/
}
     

