$g:50px;
.footer {
    color: white;
	background: #45B7E3;
    text-align: right;
    &__site{
        font-weight: 300;
        font-size: 48px;
        line-height: 72px;
        padding: 23px 0;
    }
   /* &__width{
        width:$g;
    }
    &__height{
        height: 100px;
    }
    &__background{
        background-color: darkseagreen;
    }/*
   /* @mixin mix{
        color: red;
        text-align: center;
        font-size: 30px;
    }
.footer__all{
    @include mix();
    @extend .footer__width;
    @extend .footer__height;
    @extend .footer__background;
}*/
}
