.header {
  background: #ffffff;
  padding-bottom: 60px;
  &__common{
    line-height: 54px;
    font-size: 36px;
    font-weight: 300;
  }
  &__common{
    color: black;
    margin: 0 19px;
  }
  &__label{
    padding: 30px 0px 16px 0px;
    font-size: 48px;
    line-height: 72px;
  }
  a:hover{
    color: red;
    text-decoration: none;
  }
}
