.header-blog {
    background: #ffffff;
    &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    &__label{
      padding: 27px 0px 26.43px 0px;
      font-size: 48px;
      line-height: 72px;
    }
  }
  