.header-blog {
    background: #ffffff;
    &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0px 22.43px 0px;
    }
    &__label{
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      //font-size: 48px;
      //line-height: 72px;
    }
  }
  