.infobox-blog {
    font-family: 'Open Sans Condensed', sans-serif !important;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/infoblog.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
    &__wrapper{
    display: flex;
    padding: 0 0 70px 0;
    }
    &__title{
        font-size: 55px;
        line-height: 72px;
        padding: 52px 0 40px 0;
        color: white;
        font-weight: bold;
    }
    &__headline{
        font-size: 36px;
        line-height: 72px;
    }
    &__description{
        font-family: Open Sans Condensed;
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        margin: 0 0 0 20px;
        color: white;
<<<<<<< HEAD
        text-align:left;
=======

>>>>>>> 0bffdcbfc0cf44463ecd81f8b836aeac00ee0985
    }
    &__border{
        border-bottom: 1px solid #000000;
        margin: 50px 0 50px 0;
    }
    &__img{
        width: 200px;
        height: 200px;
    }
    &__photo{
        width: 280px;
        height: 265px;
   }
}
<<<<<<< HEAD
@media screen and (max-width: 768px){
    .infobox-blog__title{
        font-size: 45px;
        line-height: 61px;
        padding: 30px 0 22px 0;
    }
    .infobox-blog__description{
        font-size: 18px;
        line-height: 25px;
    }
    .infobox-blog__wrapper{
        padding: 0 0 50px 0;
    }
}
@media screen and (max-width: 320px){
    .infobox-blog__title{
        font-size: 30px;
        line-height: 41px;
        padding: 30px 0 12px 0;
    }
    .infobox-blog__description{
        margin: 25px 0 0 0;
        font-size: 16px;
        line-height: 22px;
    }
    .infobox-blog__wrapper{
        flex-direction: column;
        padding: 0 0 40px 0;
    }
}
=======
>>>>>>> 0bffdcbfc0cf44463ecd81f8b836aeac00ee0985
