.infobox-myblog {
    font-family: 'Open Sans Condensed', sans-serif !important;
    padding: 0 0 66px 0;
    background: #F2F2F2;
    text-align: justify;
    font-weight: bold;
    margin-top: 0.2rem;
    &__title{
        font-size: 55px;
        line-height: 75px;  
        //margin: 0 0 40px 0;
        padding: 50px 0 40px 0;
    }
    &__title2{
        margin: 0 0 0 20px;
        margin-top: -16px;
    }
    &__headline{
        font-size: 36px;
        line-height: 72px;
    }
    &__text{
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        display: flex;
        align-items: center;
        margin: 0 0 0 20px;
    }
    &__description{
        margin-bottom: 0;
        font-family: Open Sans Condensed;
    }
    &__border{
        border-bottom: 1px solid #000000;
        margin: 50px 0 50px 0;
    }
    &__img{
        margin-top: -0.5rem;
        //width: 280px;
        //height: 287px;
        //background-image: url(img/photo.png);
        //background-size: cover;
    }
    &__img-photo{
        //width: 100%;
        //height: 100%;
        width: 280px;
        height: 287px;
    }
    &__article{
        font-size: 45px;
        line-height: 61px;
        display: flex;
        margin-bottom: 0;
    }
}
.infobox-myblog__main{
    display: flex;
}
.infobox-myblog-sprite{
    display: flex;
}
.infobox-myblog__tlt-sprite{
    width: 63px;
    height: 60px;
    background-image: url('./img/Sprite.png');
    background-position: -1px -13px;
    margin: 0 2px 0px 0;
    //background-position: 0px 0px;
    //width: 71px;
    //height: 71px;
}
.infobox-myblog__photographer-sprite{
    width: 60px;
    height: 60px;
    background-image: url('./img/Sprite.png');
    background-position: -76px -7px;
    margin: -5px 0px 0px -13px;
}
.infobox-myblog__calendar-sprite{
    width: 60px;
    height: 60px;
    background-image: url('./img/Sprite.png');
    background-position: -149px -7px;
    margin: -5px 0px 0px -13px;
}
.infobox-myblog__tlt{
    display: flex;
    margin: 27px 0 0 13px;
    text-transform: uppercase;
}
.infobox-myblog__photographer{
    display: flex;
    margin: 27px 0 0 13px;
    text-transform: uppercase;
}
.infobox-myblog__calendar{
    display: flex;
    margin: 27px 0 0 13px;
    text-transform: uppercase;
}
.infobox-myblog__tlt-title{
    display: flex;
    align-items: center;
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin: 0 20px 0 25px;
}
.infobox-myblog__photographer-title{
    display: flex;
    align-items: center;
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin: 0 20px 0 15px;
}
.infobox-myblog__calendar-title{
    display: flex;
    align-items: center;
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin: 0 20px 0 17px;
}
.infobox-myblog__main2{
    margin-top: -0.4rem;
}