.infobox-myblog {
    font-family: 'Open Sans Condensed', sans-serif !important;
    width: 1400px;
    height: 500px;
    background: #F2F2F2;
    text-align: justify;
    font-weight: bold;
    
    &__title{
        font-size: 55px;
        line-height: 75px;
    }
    &__headline{
        font-size: 36px;
        line-height: 72px;
    }
    &__description{
        font-weight: 300;
        font-size: 18px;
        margin: 0 0 0 20px;
    }
    &__border{
        border-bottom: 1px solid #000000;
        margin: 50px 0 50px 0;
    }
    &__img{
        width: 200px;
        height: 200px;
    }
    &__photo{
        width: 280px;
        height: 265px;
   }
   &__article{
        display: flex;
   }
   /*&__text{
       width: 500
   }*/
}

.g{
    display: flex;
}
.infobox-myblog__title{
    display: flex;
}
