.infoblog {
    font-family: 'Open Sans Condensed', sans-serif !important;
    width: 1400px;
    height: 500px;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/infoblog.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
    font-weight: bold;
    &__wrapper{
    display: flex;
    }
    &__title{
        font-size: 55px;
        line-height: 72px;
        padding: 50px 0 40px 0;
        color: white;
    }
    &__headline{
        font-size: 36px;
        line-height: 72px;
    }
    &__description{

        font-weight: 300;
        font-size: 18px;
        margin: 0 0 0 20px;
        color: white;

    }
    &__border{
        border-bottom: 1px solid #000000;
        margin: 50px 0 50px 0;
    }
    &__img{
        width: 200px;
        height: 200px;
    }
    &__photo{
        width: 280px;
        height: 265px;
   }
}