@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');
.widget{
  margin: 200px 0 0 0;
}
.tab{
  display: flex;
  cursor: pointer;
}
.tab button.active {
  background-color: rgb(255, 255, 255);
}
.tablinks{
  background: rgb(237,237,237);
  margin: 0 10px;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  border: 3px solid rgb(157, 157, 157);
  border-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tabcontent {
  display: none;
  border-top: none;
}
.pics-content{
  display: flex;
  flex-wrap: wrap;
  border: 3px solid rgb(157, 157, 157);
  height: 400px;
}
.pic1, .pic2, .pic3, .pic4, .pic5{
  margin: 20px;
  border: 3px solid rgb(157, 157, 157);
  height: 100px;
  width: 100px;
}
.a{
 display: flex;
 justify-content: center;
}
  