<div class="container">
    <div class="about">
        <div class="about__img">
            <img class="about__img-neck"src="/img/neck.png">
        </div>
        <div class="about__article">
            <div class="about__border">
            </div>
                <div class="about__title">
                    <div class="about__title-text">
                    Comprehensive Pain Treatment
                    </div>
                </div>
                <div class="about__description">
                    <div class="about__description-text">
                        Healthy Spine Family Chiropractic was created for the necessity of custom 
                        made chiropractic treatment for all ages. We understand that not all 
                        bodies are the same and so your chiropractic treatment will be tailored 
                        to you. Healthy Spine Family Chiropractic was created for the necessity 
                        of custom made chiropractic treatment for all ages. We understand that 
                        not all bodies are the same and so your chiropractic treatment will be 
                        tailored to you. Healthy Spine Family Chiropractic was created for the 
                        necessity of custom made chiropractic treatment for all ages. We 
                        understand that not all bodies are the same and so your chiropractic 
                        treatment will be tailored to you.
                    </div>
                </div>
                    <a href="#"class="about__button">
                        Learn more
                    </a>
        </div>
    </div>
</div>