<div class="container">
    <div class="advantages">
        <div class="advantages__border">
        </div>
        <div class="advantages__title">
            Advantages
        </div>
            <div class="advantages__description">
                <div class="advantages__description-text">
                    Healthy Spine Family Chiropractic was created for the necessity of 
                    custom made chiropractic treatment for all ages.
                </div>
            </div>
    <div class="advantages__card">
        <div class="advantages__card-1">
            <div class="advantages__card-practice">
                <div class="advantages__card-content">
                    <div class="advantages__card-title">
                        Multi Disciplinary Practice
                    </div>
                    <div class="advantages__card-description">
                        We offer chiropractic, massage and acupuncture.
                    </div>
                </div>
            </div>    
            <div class="advantages__card-experience">
                <div class="advantages__card-content">
                    <div class="advantages__card-title">
                        Over 10 Years of Experience
                    </div>
                    <div class="advantages__card-description">
                        The Doctor has 10+ years of experience in the chiropractic.
                    </div>
                </div>
            </div>   
        </div>
        <div class="advantages__card-2">
            <div class="advantages__card-language">
                <div class="advantages__card-content">
                    <div class="advantages__card-title">
                        The Doctor Speaks Spanish
                    </div>
                    <div class="advantages__card-description">
                        We strive to provide complete care for our patients. We speak English and Spanish.
                    </div>
                </div>
            </div>
            <div class="advantages__card-insurance">
                <div class="advantages__card-content">
                    <div class="advantages__card-title">
                        Insurance
                    </div>
                    <div class="advantages__card-description">
                        We accept most insurance and file the claims for you.
                    </div>   
                </div>
            </div>
        </div>
    </div>
    </div>
</div>