<a name="info"></a>
<div class="card-allnews">
    <div class="container">
        <div class="card-allnews__wrapper">
        <div class="article">
            <div class="mycard">
                <div class="mycard-content">
                    <div class="mycard-content__img">
                        <img class="mycard__img"src="/img/myblog1.png">
                    </div>
                    <div class="mycard-content__title">
                        <p class=mycard__title>Фото в сквере нашего парка</p>
                    <div class="mycard-content__date">
                        26.06.19
                    </div>
                    </div>
                </div>
            </div>
        <div class="mycard">
                <div class="mycard-content">
                    <div class="mycard-content__img">
                        <img class="mycard__img"src="/img/myblog2.png">
                    </div>
                    <div class="mycard-content__title">
                        <p class=mycard__title>Красивый закат и девушка</p>
                    <div class="mycard-content__date">
                        26.06.19
                    </div>
                    </div>
                </div>
        </div>
        <div class="mycard">
                <div class="mycard-content">
                    <div class="mycard-content__img">
                        <img class="mycard__img"src="/img/myblog3.png">
                    </div>
                    <div class="mycard-content__title">
                        <p class=mycard__title>Красивые горы на фоне</p>
                    <div class="mycard-content__date">
                        26.06.19
                    </div>
                    </div>
                </div>
        </div>
        </div>
        <div class="article-second">
            <div class="mycard">
                <div class="mycard-content">
                    <div class="mycard-content__img">
                        <img class="mycard__img"src="/img/myblog4.png">
                    </div>
                    <div class="mycard-content__title">
                        <p class=mycard__title>Успела заснять капитана Marvel</p>
                    <div class="mycard-content__date">
                        26.06.19
                    </div>
                    </div>
                </div>
        </div>
        <div class="mycard">
            <div class="mycard-content">
                <div class="mycard-content__img">
                    <img class="mycard__img"src="/img/myblog5.png">
                </div>
                <div class="mycard-content__title">
                    <p class=mycard__title>Эмма Уотсон уже не торт</p>
                <div class="mycard-content__date">
                    26.06.19
                </div>
                </div>
            </div>
        </div>
        <div class="mycard">
            <div class="mycard-content">
                <div class="mycard-content__img">
                    <img class="mycard__img"src="/img/myblog6.png">
                </div>
                <div class="mycard-content__title">
                    <p class=mycard__title>Жру и не толтею, сжечь меня, шучу</p>
                <div class="mycard-content__date">
                    26.06.19
                </div>
                </div>
            </div>
        </div>
        </div>
        <div class="button-allnews">
                <a href="#"class="button__3">ЗАГРУЗИТЬ ЕЩЕ</a>
        </div>
    
        </div>
    </div>
</div>

