<a name="info"></a>
<div class="card-blog">
    <div class="container">
        <h1 class="article__title">МОЙ БЛОГ</h1>
        <div class="article">
                <div class="card">
                    <img class="card__img"src="/img/article.png">
                        <div class="card__text">
                            <h2 class=card__title>СЕГОДНЯ ХОДИЛ В КЛУБ ЗАРЯ</h2>
                            <P class="card__article">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea odio 
                                quos voluptatibus perspiciatis, ipsam impedit tempore ducimus omnis deserunt 
                                adipisci inventore dicta consectetur...</P>
                        </div>
                        <div class="card__box">
                                <a href="#"class="button__2">ПЕРЕЙТИ К НОВОСТИ</a>
                                <div class="card__date">26.06.19
                                </div>
                        </div>
                </div>
                <div class="card">
                    <img class="card__img"src="/img/article.png">
                        <div class="card__text">
                            <h2 class=card__title>СЕГОДНЯ ХОДИЛ В КЛУБ ЗАРЯ</h2>
                            <p class="card__article">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea odio 
                                quos voluptatibus perspiciatis, ipsam impedit tempore ducimus omnis deserunt 
                                adipisci inventore dicta consectetur...</p>
                        </div>
                        <div class="card__box">
                            <a href="#"class="button__2">ПЕРЕЙТИ К НОВОСТИ</a>
                            <div class="card__date">26.06.19
                            </div>
                        </div>
                </div>
                <div class="card">
                    <img class="card__img"src="/img/article.png">
                        <div class="card__text">
                            <h2 class=card__title>СЕГОДНЯ ХОДИЛ В КЛУБ ЗАРЯ</h2>
                            <p class="card__article">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Illum distinctio quasi culpa eveniet assumenda quia qui molestiae est ea odio 
                                quos voluptatibus perspiciatis, ipsam impedit tempore ducimus omnis deserunt 
                                adipisci inventore dicta consectetur...</p>
                        </div>
                        <div class="card__box">
                            <a href="#"class="button__2">ПЕРЕЙТИ К НОВОСТИ</a>
                            <div class="card__date">26.06.19
                            </div>
                        </div>
                </div>
        </div>
    <div class="button-allnews">
        <a href="allnews.html"class="button__3">ПОСМОТРЕТЬ ВСЕ НОВОСТИ</a>
    </div>
    </div>
</div>

