<a name="contacts-blog"></a>
<div class="contacts-blog">
    <div class="container">
        <h2 class="contacts-blog__title">КОНТАКТЫ</h2>

        <div class="social-contacts">
            <div class="social-contacts__vk">
                <a href="https://vk.com">hhhhh</a>
            </div>
            <div class="social-contacts__inst">
                <a href="https://www.instagram.com">hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhm</a>
            </div>
            <div class="social-contacts__tel">
                <a href="tel:+4374587475489">hhhhhhо</a>
            </div>
            <div class="social-contacts__email">
                <a href="email:ekaterinamlukova@gmail.com">hhhhhhо</a>
            </div>
        </div>

    </div>
</div>
