<div class="container">
    <div class="contactme">
        <div class="contactme__all">
        <div class="contactme__title-text">
            Contact Us Today
        </div>
        <div class="contactme__description">
            We are happy to assist you with any questions you may have regarding your 
            chiropractic needs or insurance questions. You can make an appointment online or 
            by giving us a call at
        </div>
        <div class="contactme__contacts">
            <a href="#"class="contactme__tel">
                (303) 457-2040
            </a>
        </div>
            <a href="#"class="contactme__button">
                Make an Appointment
            </a>
        </div>
    </div>
    <div class="contactme__img">
        <img class="contactme__img-map"src="/img/map.png">
    </div>
    <div class="header-content__nav">
            <div class="nav__index">
              <a class="header__nav" href="#info">OUR STORY</a>
              <a class="header__nav" href="blog.html">SERVICES</a>
              <a class="header__nav" href="#contacts">FAQ</a>
              <a class="header__nav" href="#contacts">CONTACT</a>
            </div>
    </div>
</div>