<a name="contacts-blog"></a>
<div class="contacts-blog">
    <div class="container">
        <h2 class="contacts-blog__title">КОНТАКТЫ</h2>

        <div class="social-contacts">
            <div class="social-contacts__all">
                <div class="social-contacts__vk-sprite">
                </div>
            </div>
            <div class="social-contacts__all">
                <div class="social-contacts__inst-sprite">
                </div>
            </div>
            <div class="social-contacts__all">
                <div class="social-contacts__tel-sprite">
                </div>
            </div>
            <div class="social-contacts__all">
                <div class="social-contacts__email-sprite">
                </div>
            </div>
            <div class="social-contacts__call">
                <div class="social-contacts__call-sprite">
                </div>
            </div>
        </div>

    </div>
</div>
