<a name="contacts-blog"></a>
<div class="contacts-blog">
    <div class="container">
        <div class="contacts-blog__block">
        <h2 class="contacts-blog__title">КОНТАКТЫ</h2>
        <div class="social-contacts">
            <div class="social-contacts__all">
                <div class="social-contacts__vk-sprite">
                </div>
                <div class="social-contacts__text-vk"></div>
            </div>
            <div class="social-contacts__all">
                <div class="social-contacts__inst-sprite">
                </div>
                <div class="social-contacts__text-inst"></div>
            </div>
            <div class="social-contacts__all">
                <div class="social-contacts__tel-sprite">
                </div>
                <div class="social-contacts__text-tel"></div>
            </div>
            <div class="social-contacts__all">
                <div class="social-contacts__email-sprite">
                </div>
                <div class="social-contacts__text-email"></div>
            </div>
            <div class="social-contacts__call">
                <div class="social-contacts__call-sprite">
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
