<div class="container">
    <div class="doctor">
        <div class="doctor__block">
            <div class="doctor__img">
                <img class="doctor__img-doctor"src="/img/doctor.png">
            </div>
        </div>
            <div class="doctor__article">
                <div class="doctor__border">
                </div>
                    <div class="doctor__title">
                        <div class="doctor__title-text">
                            Dr. Osvaldo «Ozzie» Gratacos
                        </div>
                    </div>
                    <div class="doctor__description">
                        <div class="doctor__description-text">
                            Dr. Osvaldo “Ozzie” Gratacos is a licensed chiropractor serving the Thornton 
                            and surrounding communities. Dr. Gratacos graduated from Palmer College of 
                            Chiropractic in Florida. After graduating, Dr. Gratacos went back to his home 
                            in Puerto Rico to open a practice for 4 years before practicing in Lakewood, 
                            Colorado. He is bilingual (spanish/english). Ozzie is certified in extremity 
                            adjustments, treatment in golf related injuries, and Cox technique for 
                            herniated disc. 
                        </div>
                    </div>
            </div>
    </div>
</div>