<div class="container">
    <div class="footer">
        <div class="footer__main">
        <div class="footer__content-nav">
            <div class="nav__index">
                <a class="header__nav" href="#info">OUR STORY</a>
                <a class="header__nav" href="blog.html">SERVICES</a>
                <a class="header__nav" href="#contacts">FAQ</a>
                <a class="header__nav" href="#contacts">CONTACT</a>
            </div>
        </div>
<div class="footer__contacts-social">
        <div class="footer__social">
            <div class="footer__social-icons">
            HHHHHHHHHHHHHHH
            </div>
        </div>
        <div class="footer-content__button">
            <div class="contact-content__button-main">
                <a href="#"class="footer__button">
                    Contact us
                </a>
            </div>
        </div>
</div>
        </div>

        <div class="footer__main2"> 
            <div class="footer__adress-tel">
                <a href="#"class="footer__tel">
                    (303) 457-2040
                </a>
                <div class="footer__adress">
                    10313 Washington St., Thornton, CO 80229
                </div>
            </div>
            <div class="footer__schedule">
                <div class="footer__schedule-day">
                    Monday, Wednesday, Thursday — 9:00 AM - 6:00 PM
                </div>
                <div class="footer__schedule-day">
                    Friday — 9:00 AM - 1:00 PM
                </div>
                <div class="footer__schedule-day">
                    Saturday — 10:00 AM - 1:00 PM
                </div>
            </div>
            <div class="footer__copyright">
                <div class="footer__copyright-all">
                    Company rating:
                </div>
                <div class="footer__copyright-all">
                    © Copyright — Healthy Spine Family Chiropractic 2019
                </div>
                <div class="footer__copyright-all">
                    Web Design — Direct Line Development
                </div>
            </div>
        </div>

    </div>
</div>