<div class="footer-blog">
    <div class="container">
        <div class="footer-blog__wrapper">
                <div class="footer-site">
                        <p>© 2019, my-site.com</p>
                </div>
                <div class="nav">
                        <a class="nav__item" href="index.html">Главная</a>
                        <a class="nav__item" href="myblog.html">Мой блог</a>
                        <a class="nav__item" href="#">Подробнее обо мне</a>
                </div>
               </div>
           </div>
       </div>
       