<div class="header">
  <div class="container">
    <div class="header-content__block">
      <div class="header-content__block_all">
        <div class="header-content__block_title-group">
          <div class="header-content__block_title">
            PICTURES
          </div>
          <div class="header-content__block_subtitle">
            SUBTITLES
          </div>
        </div>
        <div class="header-content__block_nav">
          <div class="nav__index">
            <a class="header__nav" href="#info">OUR STORY</a>
            <a class="header__nav" href="blog.html">SERVICES</a>
            <a class="header__nav" href="#contacts">FAQ</a>
            <a class="header__nav" href="#contacts">CONTACT</a>
          </div>
        </div>
        <div class="header-content__block_contacts">
          <div class="header-content__block_tel">
            (303) 457-2040
          </div>
        </div>

        <div class="header-content__block_button">
          <div class="header-content__block_button-main">
          <a href="#"class="button__schedule">
              Schedule Appointment
            </a>
        </div>
        </div>
      </div>
    </div>
  </div>  
</div>