<div class="header-blog">
    <div class="container"> 
       <div class="header-blog__wrapper">
          <div class="header-blog__label"><img src="../img/logo.png" class="img-logo"></div>
          <div class="nav__phone-border1"></div>
          <div class="hhhhh">
          <div class="nav">
               <div class="img-menu"><img src="../img/menu.png"></div>
             <a class="nav__item" href="index.html">Главная</a>
             <a class="nav__item" href="blog.html">Мой блог</a>
             <a class="nav__item" href="myblog.html">Подробнее обо мне</a>
          </div>
         </div>
        </div>
    </div>
</div>