<div class="header">
  <div class="container">
    <div class="header-content">
      <div class="header-content__all">
        <div class="header-content__title-group">
          <div class="header-content__title">
            PICTURES
          </div>
          <div class="header-content__subtitle">
            SUBTITLES
          </div>
        </div>
        <div class="header-content__nav">
          <div class="nav__index">
            <a class="header__nav" href="#info">OUR STORY</a>
            <a class="header__nav" href="blog.html">SERVICES</a>
            <a class="header__nav" href="#contacts">FAQ</a>
            <a class="header__nav" href="#contacts">CONTACT</a>
          </div>
        </div>
        <div class="header-content__contacts">
              <a href="#"class="header-content__tel">
                  (303) 457-2040
              </a>
        </div>
        <div class="header-content__button">
          <div class="header-content__button-main">
          <a href="#"class="button__schedule">
              Schedule Appointment
            </a>
        </div>
        </div>
      </div>
    </div>
  </div>  
</div>