<div class="header-blog">
    <div class="container"> 
       <div class="header-blog__wrapper">
          <div class="header-blog__label"><img src="../img/Logo.png"></div>
          <div class="nav">
             <a class="nav__item" href="index.html">Главная</a>
             <a class="nav__item" href="blog.html">Мой блог</a>
             <a class="nav__item" href="myblog.html">Подробнее обо мне</a>
          </div>
    <!-- <a class="header__common" href="#">Моя вторая страница</a> -->
        </div>
    </div>
</div>