<div class="container">
    <div class="introduction">
        <div class="introduction__article">
            <div class="introduction__border">
            </div>
                <div class="introduction__title">
                    Healthy Spine Family Chiropractic
                </div>
                <div class="introduction__description">
                    <div class="introduction__description-text">
                    Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic 
                    treatment for all ages. We understand that not all bodies are the same.
                    </div>
                </div>
                    <a href="#"class="introduction__button">
                        Get In Touch Now
                    </a>
                <div class="introduction__social-networks">
                    HHHHHHHHHHHHHHH
                </div>
        </div>
        <div class="introduction__img">
            <img class="introduction__img-spine"src="/img/spine.png">
        </div>
    </div>
</div>