<div class="container">
    <div class="services">
        <div class="services__border">
        </div>
        <div class="services__title-text">
            Services
        </div>
<div class="services__card">
    <div class="services__card-chiropractic-massage">
        <div class="services__card-chiropractic">
            <div class="services__card__img">
                <img class="services__card__img"src="/img/chiropractic.png">
            </div>
    <div class="services__card-article">
        <div class="services__card-text">
            <div class="services__card-title">
                Chiropractic
            </div>
            <div class="services__card-description">
                Chiropractic care is a unique science that focuses on restoring and maintaining health, 
                while most other healing arts are designed to treat disease.
            </div>  
        <div class="services__card-chiropractic_links">
            <div class="services__card-chiropractic_links-1">
                <div class="services__card-chiropractic_link">
                    Chiropractic Adjustment
                </div>
                <div class="services__card-chiropractic_link">
                    Flexion-distraction
                </div>
            </div>
            <div class="services__card-chiropractic_links-2">
                <div class="services__card-chiropractic_link">
                    Thompson
                </div>
                <div class="services__card-chiropractic_link">
                    View All Services
                </div>
            </div>
        </div>
        </div>
    </div>
        </div>
        <div class="services__card-massage">
            <div class="services__card__img">
                <img class="services__card__img"src="/img/massage.png">
            </div>
        <div class="services__card-article">
            <div class="services__card-text">
                <div class="services__card-title">
                    Massage
                </div>
                <div class="services__card-description">
                    Healthy Spine Family Chiropractic, serves the Thornton and surrounding communities 
                    and it provides a natural, conservative approach to your health care.
                </div>  
            <div class="services__card-chiropractic_links">
                <div class="services__card-chiropractic_links-1">
                    <div class="services__card-chiropractic_link">
                        Deep Tissue
                    </div>
                    <div class="services__card-chiropractic_link">
                        Trigger Point 
                    </div>
                </div>
                <div class="services__card-chiropractic_links-2">
                    <div class="services__card-chiropractic_link">
                        Sport Massage 
                    </div>
                    <div class="services__card-chiropractic_link">
                        Myofascial Release
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
<div class="card-acupuncture_block">
    <div class="services__card-acupuncture">
        <div class="services__card__img">
            <img class="services__card__img"src="/img/acupuncture.png">
        </div>
    <div class="services__card-article">
        <div class="services__card-text">
            <div class="services__card-title">
                Acupuncture
            </div>
            <div class="services__card-description">
                Healthy Spine Family Chiropractic, serves the Thornton and surrounding communities 
                and it provides a natural, conservative approach to your health care.
            </div>  
        <div class="services__card-chiropractic_links">
            <div class="services__card-chiropractic_links-1">
                <div class="services__card-chiropractic_link">
                    Cupping
                </div>
                <div class="services__card-chiropractic_link">
                    Chinese Herbs
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

</div>
    </div>
</div>