<div class="container">
    <div class="services">
            <div class="services__border">
            </div>
            <div class="services__title-text">
                Services
            </div>
        <div class="sercices__card">

<div class="sercices__card-chiropractic-massage">
            <div class="sercices__card-chiropractic">
                <div class="sercices__card__img">
                    <img class="sercices__card__img-chiropractic"src="/img/chiropractic.png">
                </div>
            <div class="sercices__card-chiropractic_article">
        <div class="sercices__card-chiropractic_text">
            <div class="sercices__card-chiropractic_title">
                Chiropractic
            </div>
            <div class="sercices__card-chiropractic_description">
            Chiropractic care is a unique science that focuses on restoring and maintaining health, 
            while most other healing arts are designed to treat disease.
            </div>  
        <div class="sercices__card-chiropractic_links">
            <div class="sercices__card-chiropractic_links-1">
                <div class="sercices__card-chiropractic_link">
                    Chiropractic Adjustment
                </div>
                <div class="sercices__card-chiropractic_link">
                    Flexion-distraction
                </div>
            </div>
            <div class="sercices__card-chiropractic_links-2">
                <div class="sercices__card-chiropractic_link">
                    Thompson
                </div>
                <div class="sercices__card-chiropractic_link">
                    View All Services
                </div>
            </div>
        </div>
        </div>
            </div>
            </div>

            <div class="sercices__card-massage">
                    <div class="sercices__card__img">
                        <img class="sercices__card__img-chiropractic"src="/img/chiropractic.png">
                    </div>
                <div class="sercices__card-chiropractic_article">
            <div class="sercices__card-chiropractic_text">
                <div class="sercices__card-chiropractic_title">
                    Chiropractic
                </div>
                <div class="sercices__card-chiropractic_description">
                Chiropractic care is a unique science that focuses on restoring and maintaining health, 
                while most other healing arts are designed to treat disease.
                </div>  
            <div class="sercices__card-chiropractic_links">
                <div class="sercices__card-chiropractic_links-1">
                    <div class="sercices__card-chiropractic_link">
                        Chiropractic Adjustment
                    </div>
                    <div class="sercices__card-chiropractic_link">
                        Flexion-distraction
                    </div>
                </div>
                <div class="sercices__card-chiropractic_links-2">
                    <div class="sercices__card-chiropractic_link">
                        Thompson
                    </div>
                    <div class="sercices__card-chiropractic_link">
                        View All Services
                    </div>
                </div>
            </div>
            </div>
                </div>
                </div>

</div>
<div class="card-acupuncture_block">
            <div class="sercices__card-acupuncture">
                    <div class="sercices__card__img">
                        <img class="sercices__card__img-chiropractic"src="/img/chiropractic.png">
                    </div>
                <div class="sercices__card-chiropractic_article">
            <div class="sercices__card-chiropractic_text">
                <div class="sercices__card-chiropractic_title">
                    Chiropractic
                </div>
                <div class="sercices__card-chiropractic_description">
                Chiropractic care is a unique science that focuses on restoring and maintaining health, 
                while most other healing arts are designed to treat disease.
                </div>  
            <div class="sercices__card-chiropractic_links">
                <div class="sercices__card-chiropractic_links-1">
                    <div class="sercices__card-chiropractic_link">
                        Chiropractic Adjustment
                    </div>
                    <div class="sercices__card-chiropractic_link">
                        Flexion-distraction
                    </div>
                </div>
                <div class="sercices__card-chiropractic_links-2">
                    <div class="sercices__card-chiropractic_link">
                        Thompson
                    </div>
                    <div class="sercices__card-chiropractic_link">
                        View All Services
                    </div>
                </div>
            </div>
            </div>
                </div>
                </div>
</div>

                </div>

            </div>
            </div>
                </div>
                </div>
        </div>
    </div>
</div>